<a href="https://colab.research.google.com/github/phahok/python_handson/blob/main/hand-on1_python_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd
sasdataset = pd.read_excel('/home/sasdata/dataset_sas_dbase_teste_dataset.xls')
sasdataset.head()

  Region Name  SystemName  ...                End Date Comment
0        Eyre  Coffin Bay  ...  1/07/2017 - 30/06/2018     NaN
1        Eyre  Coffin Bay  ...  1/07/2017 - 30/06/2018     NaN
2        Eyre  Coffin Bay  ...  1/07/2017 - 30/06/2018     NaN
3        Eyre  Coffin Bay  ...  1/07/2017 - 30/06/2018     NaN
4        Eyre  Coffin Bay  ...  1/07/2017 - 30/06/2018     NaN

[5 rows x 11 columns]

In [45]:
datasetdois = pd.read_excel('/home/sasdata/base_teste_dataset.xlsx')
datasetdois.head(8)

       Nome estado  idade       sexo filhos   imovel
0      jose     BA     21  Masculino    sim  proprio
1    renato     SP     41  Masculino    sim  alugado
2  andressa     BA     23   Feminino    não  proprio
3  cleonice     RO     21   Feminino    sim  alugado
4     alice     BA     19   Feminino    não  proprio
5       ana     SP      8   Feminino    não  proprio
6     bella     BA      9   Feminino    não  proprio
7      cida     BA     45   Feminino    sim  proprio

In [41]:
sasdataset.tail()

                                            Region Name  ... Comment
2094  # Prior to calculating % compliance for health...  ...     NaN
2095                                                NaN  ...     NaN
2096  # Although we aim for 100% compliance, the ADW...  ...     NaN
2097                                                NaN  ...     NaN
2098  Disclaimer: While every effort has been made t...  ...     NaN

[5 rows x 11 columns]

In [43]:
ls -l /home/sasdata/

total 396
-rw-r--r-- 1 root root   9583 Jul 27 23:08 base_teste_dataset.xlsx
-rw-r--r-- 1 root root 392192 Jul 27 22:40 dataset_sas_demo.xls

In [22]:
import io
import pandas as pd
#sasdataset = pd.read_excel('/home/sasdata/dataset_sas_demo.xls')
#sasdataset.head()
from google.colab import files

In [42]:
uploaded = files.upload()

Saving base_teste_dataset.xlsx to base_teste_dataset.xlsx